<h1>Create Survey</h1>
<form action="/surveys" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>
		<div class="form-group col-md-4">
		<label for="survey_name">Survey Name</label>
    	<input type="text" class="form-control" name="survey[survey_name]">
		</div>
	</p>
	<p>
		<div class="form-group col-md-6">
		<label for="question1">Enter Question 1:</label>
    	<input type="text" class="form-control" name="survey[survey_question]">
		</div>
	</p>
	<p>
		<div class="form-group col-md-6">
		<label for="question2">Enter Question 2:</label>
    	<input type="text" class="form-control" name="survey[survey_question]">
		</div>
	</p>
	<p>
		<div class="form-group col-md-6">
		<label for="question3">Enter Question 3:</label>
    	<input type="text" class="form-control" name="survey[survey_question]">
		</div>
	</p>
	<p>
		<div class="form-group col-md-6">
		<label for="question4">Enter Question 4:</label>
    	<input type="text" class="form-control" name="survey[survey_question]">
		</div>
	</p>
	<p>
		<div class="form-group col-md-6">
		<label for="question5">Enter Question 5:</label>
    	<input type="text" class="form-control" name="survey[survey_question]">
		</div>
	</p>
	<button type="submit" class="btn btn-primary">Create</button>
</form>

<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
	<p><%= e %></p>
	<% end %>
<% end %> 